<header>
    <a href="/" class="logo" style="text-decoration: none; cursor: pointer;">
        Sprawdź<span class="accent">słuch.pl</span>
    </a>

    <!-- Nawigacja na duże ekrany (desktop) -->
    <nav class="main-nav">
        <a href="/test-sluchu">Test słuchu</a>
        <a href="/o-nas">O nas</a>
        <a href="/faq">FAQ</a>
    </nav>
    <div class="header-buttons">
        <button id="start-test-btn-header" class="btn-primary">Rozpocznij test</button>
    </div>

    <!-- Przycisk do otwierania menu mobilnego -->
    <button class="mobile-menu-btn">
        <span class="material-icons">menu</span>
    </button>

    <!-- Kontener na menu mobilne (domyślnie ukryty) -->
    <div class="mobile-menu">
        <a href="/test-sluchu">Test słuchu</a>
        <a href="/o-nas">O nas</a>
        <a href="/faq">FAQ</a>
        <button id="start-test-btn-mobile" class="btn-primary">Rozpocznij test</button>
    </div>
</header>

<div id="top" class="mt-[2rem]"></div>